/* Default  resolution: 375 x 667 (It was 360 x 640. In order to pass the test case while using iPhone 6, enlarging the resolution)
  Test device: iPhone 6/7/8
  When width <= 375px
*/

.main {
    padding: 0 20px 0 20px;
}

.logo-img {
    height: 85px;
    display: block;
    margin: 0 auto 0;
}

/* Header section*/
.my-header {
    color: #7d97ad;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.my-header >.my-name {
    font-size: 60px;
}

.my-header >.my-job-position {
    font-size: 25px;
    white-space: nowrap;
}

/* Cover Image*/
.cover-img {
    width: auto;
    max-height: 100%;
    display: block;
    margin: auto;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

/* Featured Work Section*/
.featured-work-header {
    font-family: Helvetica, Arial, sans-serif;
    color: #7d97ad;
    font-size: 45px;
    text-align: center;
    margin: 0 0 16px;
}

.featured-work {
    padding: 5px 15px;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}

/* Project list */
.project-image {
    display: block;
    width: 100%;
    height: auto;
}

.project-info{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0 0 20px 0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.project-info-title {
    font-size: 15px;
}

.project-info-tlink {
    font-size: 15px;
}

.project-info-description {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.project-1,
.project-2,
.project-3 {
    width: 100%;
    text-align: center;
}

/* footer */
.footer {
    margin: 30px 0 0 0;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 1px;
}

/* Responsive  Media Query */
@media screen and (min-width: 376px) {
    .logo-img {
        height: 100px;
    }

    .my-name {
        font-size: 65px;
    }

    .my-job-position {
        font-size: 30px;
    }

    .featured-work-header {
        font-size: 50px;
    }

    .featured-work {
        padding: 10px 10px  10px 1px
    }

    .project-info{
        font-size: 20px;
        margin: 5px 10px;
    }
    .project-1,
    .project-2,
    .project-3 {
        width: 50%;
        padding: 5px 5px;
    }
}

/* Set breakpooint at 576px to change the text alignment of name and job position*/
@media screen and (min-width: 576px) {
    .my-name {
        text-align: right;
    }

    .my-job-position {
        text-align: right;
    }
}

@media screen and (min-width: 769px) {
    /* Change the order and put  active project in the middle*/
    .project-1 {
        width: 33.33%;
        order: 2;
    }

    .project-2 {
        width: 33.33%;
        order: 1;
    }

    .project-3 {
        width: 33.33%;
        order: 3;
    }
}