.main {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/*.title {*/
/*  margin-top: 20px;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/

.logo {
    /* background-color: green; */
    height: 80px;
}

/*.nav-bar {*/
/*  !* background-color: gray; *!*/
/*  height: 80px;*/
/*}*/

.my-name {
    color: #7d97ad;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

.my-job-position {
    color: #7d97ad;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: right;
}

.main-img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

.featured-work-header {
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #7d97ad;
}

.featured-work {
    /* background-color: red; */
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.project-image {
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    height: 200px;
    width: 200px;
}

.project-info {
    font-family: Helvetica, Arial, sans-serif;
}

.project-1 {
    /* background-color: #02b3e4; */
    height: 250px;
    width: 250px;
    text-align: center;
}

.project-2 {
    /* background-color: #2d3c49; */
    height: 250px;
    width: 250px;
    text-align: center;
}

.project-3 {
    /* background-color: #7d97ad; */
    height: 250px;
    width: 250px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* responsive */

/*
  Google Nexus 5: 360 x 640
  Start from mobile phone
  When width < 360px
*/
[class*="col-"] {
    width: 100%;
}

/*
  Apple iPad: 768 x 1024
  When width >=360px and width < 768px
*/
@media screen and (min-width: 361px) {
    /*.col-sm-2 {*/
    /*    width: 16.66%;*/
    /*}*/

    .col-sm-4 {
        width: 50%; /*33.33%;*/
    }

    /*.col-sm-10 {*/
    /*    width: 83.33%;*/
    /*}*/

    .main-img {
        height: 500px;
        width: 500px;
        display: block;
        margin: auto;
    }

    .project-image {
        /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
        height: 250px;
        width: 250px;
    }

    /* change project order for testing the responsive feature */
    .project-1 {
        order: 1;
        height: 250px;
        width: 250px;
    }

    .project-2 {
        order: 2;
        height: 250px;
        width: 250px;
    }

    .project-3 {
        order: 3;
        height: 250px;
        width: 250px;
    }
}

/*
  Desktop
  When width >= 768px
*/
@media screen and (min-width: 768px) {
    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .main-img {
        height: 500px;
        width: 500px;
        display: block;
        margin: auto;
    }

    .project-image {
        /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
        height: 300px;
        width: 300px;
        display: block;
        margin: auto;
    }

    /* change project order for testing the responsive feature */
    .project-1 {
        order: 2;
        height: 300px;
        width: 300px;
    }

    .project-2 {
        order: 1;
        height: 300px;
        width: 300px;
    }

    .project-3 {
        order: 3;
        height: 300px;
        width: 300px;
    }
}
