.main {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 360px;
}

.logo-img {
    height: 85px;
}

.my-name {
    color: #7d97ad;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    text-align: right;
}

.my-job-position {
    color: #7d97ad;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
    white-space: nowrap;
    text-align: right;
}

.cover-img {
    width: auto;
    max-height: 100%;
    display: block;
    margin: auto;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.featured-work-header {
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    color: #7d97ad;
    font-size: 45px;
    text-align: center;
}

.featured-work {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
}


.project-image {
    height: 250px;
    width: auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);

}

.project-info{
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
    font-size: 15px;
}

/* Centered text */

.project-1 {
    /*position: relative;*/
    width: 100%;
    text-align: center;
    padding: 5px 15px;
}

.project-2 {
    /*position: relative;*/
    width: 100%;
    text-align: center;
    padding: 5px 15px;
}

.project-3 {
    /*position: relative;*/
    width: 100%;
    text-align: center;
    padding: 5px 15px;
}

.footer {
    margin-top: 30px;
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 1px;
}

/* responsive */

/*
  Google Nexus 5: 360 x 640
  Start from mobile phone
  When width < 360px
*/
[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 361px) {

    .main {
        width: 900px;
    }

    .logo-img {
        height: 100px;
    }

    .my-name {
        font-size: 65px;
    }

    .my-job-position {
        font-size: 30px;
    }
    
    .featured-work-header {
        font-size: 50px;
    }

    .project-image {
        height: 300px;
    }
    .project-info{
        font-size: 20px;
    }

    .project-1 {
        width: 50%;
        padding: 5px 10px;
    }

    .project-2 {
        width: 50%;
        padding: 5px 10px;
    }

    .project-3 {
        width: 50%;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 769px) {

    .cover-img {
        width: 640px;
        max-height: 100%;
    }

    .project-1 {
        width: 33.33%;
        order: 2;
    }

    .project-2 {
        width: 33.33%;
        order: 1;
    }

    .project-3 {
        width: 33.33%;
        order: 3;
    }
}

/*
  Apple iPad: 768 x 1024
  When width >=360px and width < 768px
*/
/*@media screen and (min-width: 361px) {*/
/*    !*.col-sm-2 {*!*/
/*    !*    width: 16.66%;*!*/
/*    !*}*!*/

/*    .col-sm-4 {*/
/*        width: 50%; !*33.33%;*!*/
/*    }*/

/*    !*.col-sm-10 {*!*/
/*    !*    width: 83.33%;*!*/
/*    !*}*!*/

/*    .main-img {*/
/*        height: 500px;*/
/*        width: 500px;*/
/*        display: block;*/
/*        margin: auto;*/
/*    }*/

/*    .project-image {*/
/*        !* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); *!*/
/*        height: 250px;*/
/*        width: 250px;*/
/*    }*/

/*    !* change project order for testing the responsive feature *!*/
/*    .project-1 {*/
/*        order: 1;*/
/*        height: 250px;*/
/*        width: 250px;*/
/*    }*/

/*    .project-2 {*/
/*        order: 2;*/
/*        height: 250px;*/
/*        width: 250px;*/
/*    }*/

/*    .project-3 {*/
/*        order: 3;*/
/*        height: 250px;*/
/*        width: 250px;*/
/*    }*/
/*}*/

/*
  Desktop
  When width >= 768px
*/

/*@media screen and (min-width: 768px) {*/
/*    .col-sm-2 {*/
/*        width: 16.66%;*/
/*    }*/

/*    .col-sm-4 {*/
/*        width: 33.33%;*/
/*    }*/

/*    .col-sm-10 {*/
/*        width: 83.33%;*/
/*    }*/

/*    .main-img {*/
/*        height: 500px;*/
/*        width: 500px;*/
/*        display: block;*/
/*        margin: auto;*/
/*    }*/

/*    .project-image {*/
/*        !* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); *!*/
/*        height: 300px;*/
/*        width: 300px;*/
/*        display: block;*/
/*        margin: auto;*/
/*    }*/

/*    !* change project order for testing the responsive feature *!*/
/*    .project-1 {*/
/*        order: 2;*/
/*        height: 300px;*/
/*        width: 300px;*/
/*    }*/

/*    .project-2 {*/
/*        order: 1;*/
/*        height: 300px;*/
/*        width: 300px;*/
/*    }*/

/*    .project-3 {*/
/*        order: 3;*/
/*        height: 300px;*/
/*        width: 300px;*/
/*    }*/
/*}*/
